<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=yes, minimum-scale=1, maximum-scale=1"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Webpack App</title>
    <script src="../common/comm.js"></script>
<link href="../template/p2/all.css?9086edb7d1533cd0d693" rel="stylesheet"></head>
<body>
<div id="root" data-env=""></div>
<script type="text/javascript" src="../template/p2/all.js?9086edb7d1533cd0d693"></script></body>
</html>